---
layout: default
---

<div class="initial-content-wrap">
  <div id="main" role="main" class="container">
    <div class="archive">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <h1 id="page-title" class="page__title">{{ page.title }}</h1>
      {% endunless %}
      {{ content }}
      {% for post in site.posts %}
        {% include archive-single.html %}
      {% endfor %}
    </div>
  </div>

  {% if page.author_profile %}
    {% include sidebar.html %}
  {% endif %}
</div>